html {
    background-color: #FFFFFF;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    width: 100%;
    background-color: rgb(45, 45, 45);
    border-bottom: 2px solid orange;
    color: rgb(255, 160, 36);
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    width: 100%;
}

aside {
    width: 250px;
    height: 100vh;
    background-color: rgb(45, 45, 45);
    color: white;
    border-right: 2px solid orange;
    padding: 25px;
    box-sizing: border-box;
    position: fixed; 
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
aside.active {
    transform: translateX(0); 
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #f4f4f4;
    box-sizing: border-box;
}


button:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
}


@media (min-width: 768px) {
    aside {
        transform: translateX(0); 
        position: relative;
        width: 12.5%;
    }
    .menu-btn {
        display: none; /* Hide menu button on large screens */
    }
}
