html {
    background-color: #FFFFFF;
}
body {
    margin: 0 0 0 0;
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header {
    width:100%;
    margin-bottom: 0px;

    background-color: rgb(45, 45, 45);

    border-bottom-color:orange;
    border-bottom-style: solid;

    color: rgb(255, 160, 36);
    text-align: center;
}
aside {
    display: flex;
    flex-direction: column;
    align-self: left;
    width: 12.5%;
    margin-bottom: 25px;
    min-height: 60px;

    color:#FFFFFF;

    border-right-color:orange;
    border-right-style: solid;

    background-color: rgb(45, 45, 45);

    padding-left: 25px ;
    padding-right: 25px ;
    padding-top: 25px ;
    padding-bottom: 25px ;
}
button:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
}